<div class="landingPage">
  <h1> StartUp Experiment</h1>
  <div class="landingContainer">
    <a href="/login" class="loginBtn">LOGIN</a>
    <a href="/registerPage" class=regBtn>REGISTER</a>
  </div>
</div>
